#header {
  background: #495561 url(../../files/theme/header_background.gif?1527348198)
    repeat-x center top;
  width: 920px;
  font-weight: normal;
  padding: 20px;
  border-bottom: 1px solid #0c0f12;
}
#header-inner {
  width: 100%;
  height: 90px;
}
#header-inner,
#header-inner table {
  border-collapse: collapse;
  border-spacing: 0;
}
#header-inner td {
  vertical-align: middle;
  text-align: left;
}
#header-inner div {
  font-family: garamond, "times new roman", serif;
  color: white;
  text-shadow: 0 0 4px black;
  text-align: center;
  font-size: 1.5rem;
}
#header-inner #header-link {
  color: white;
  text-decoration: none;
}
