ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
div.paragraph,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a img {
  border: 0;
}
.clear {
  clear: both;
}
body {
  background: transparent url(theme/background.gif?1527348198) repeat-x center
    top;
  background-color: #f2f2f2;
  font-family: "lucida grande", arial, sans-serif;
  font-size: 12px;
  color: #666666;
  margin: 0;
  padding: 0;
}
div.paragraph {
  line-height: 1.5;
  padding: 0.5em 0;
}
p {
  line-height: 1.5;
  padding: 0.5em 0;
}
h1 {
  font-family: garamond, "times new roman", serif;
  font-size: 20px;
  color: #272e34;
  line-height: 1.5;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  color: #272e34;
  line-height: 1.5;
  padding: 0.3em 0;
}
a {
  color: #af5211;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Page contents */
#wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#content-wrapper {
  max-width: 960px;
}
#contents-body {
  max-width: 918px;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
*html #contents-body {
  max-width: 918px;
  padding: 10px 18px 10px 19px;
  background-color: #ffffff;
  margin-top: -5px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
#contents {
  max-width: 920px;
  min-height: 400px;
  height: auto !important;
  height: 400px;
  clear: both;
}
#contents-bottom {
  background: transparent url(theme/content_bottom.gif?1527348198) no-repeat
    center top;
  max-width: 960px;
  height: 10px;
}

/* Navigation */
#navigation {
  background-color: #e5e5e5;
  max-width: 960px;
  font-size: 12px;
  color: #e3e3e3;
}
#navigation-links {
  margin-left: 0;
  max-width: 960px;
}
#navigation-links li {
  background: transparent url(theme/nav_background.gif?1527348198) no-repeat
    center right;
  height: 40px;
  padding-right: 2px;
  display: inline-block;
  font-size: 1em;
  text-align: center;
}
#navigation-links #active a {
  color: #af5211;
  background: #f4f4f4;
}
#navigation-links a {
  display: block;
  color: #333;
  height: 28px;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 19px 0 19px;
}
*html #navigation-links a {
  display: inline-block;
}
#navigation-links a:hover {
  color: #af5211;
  text-decoration: none;
  font-weight: bold;
}

/* Social items */
.wsite-social-item {
  width: 23px;
  height: 23px;
  margin: 0 0 0 3px;
  background-image: url(theme/social-darkblue.png?1527348198);
}
.wsite-social-facebook {
  background-position: 0 0;
}
.wsite-social-facebook:hover {
  background-position: 0 -23px;
}
.wsite-social-facebook:active {
  background-position: 0 -46px;
}
.wsite-social-mail {
  background-position: -92px 0;
}
.wsite-social-mail:hover {
  background-position: -92px -23px;
}
.wsite-social-mail:active {
  background-position: -92px -46px;
}

/* Page banner */
.tall-header-page #banner {
  max-width: 960px;
  height: 268px;
  padding: 8px 0 0 0;
  margin: 0;
  background: url(theme/banner-tall-bg.jpg?1527348198) no-repeat;
}
.tall-header-page .wsite-header {
  max-width: 960px;
  height: 259px;
  background: url(theme/banner-tall.jpg?1527348198) no-repeat 50% 50%;
}

/* Footer */
#footer {
  max-width: 960px;
  padding: 20px 0 30px 0;
}
#footer-contents {
  color: #666666;
  text-align: right;
  font-family: "lucida grande", "lucida sans", arial, sans-serif;
  padding: 7px 20px 0 20px;
}
.wsite-footer {
  margin-bottom: 15px;
}
#footer h2 {
  font-size: 17px;
  border-bottom: 1px solid #ccc;
}

/* Forms */
.wsite-form-container {
  margin-top: 0px !important;
  text-align: left !important;
}
.wsite-footer .wsite-form-label {
  font-size: 1em !important;
  padding: 5px 0 2px 0 !important;
}
.wsite-footer .wsite-form-field {
  width: 300px !important;
}
.wsite-footer .wsite-form-input {
  font-size: 1em !important;
  width: 100% !important;
}
.wsite-form-label {
  display: inline-block;
  color: #272e34;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0 8px 0;
}
.wsite-form-input {
  background: #fff;
  color: #626262;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  font-size: 12px;
}
.wsite-button {
  color: #fff !important;
  height: 34px;
  display: inline-block;
  font-size: 14px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  background: url(theme/button_small_blue.png?1527348198) no-repeat 100% -105px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}
.wsite-button:hover {
  background-position: 100% -140px;
}
.wsite-button:active {
  background-position: 100% -175px;
}
.wsite-button-inner {
  height: 34px;
  line-height: 34px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding: 0 10px 0 20px;
  background: url(theme/button_small_blue.png?1527348198) no-repeat 0 0;
  outline: none;
}
.wsite-button:hover .wsite-button-inner {
  background-position: 0 -35px;
}
.wsite-button:active .wsite-button-inner {
  background-position: 0 -70px;
}
.wsite-button-large {
  height: 41px;
  background: url(theme/button_large_blue.png?1527348198) no-repeat 100% -126px;
  padding: 0 10px 0 0;
}
.wsite-button-highlight {
  background-image: url(theme/button_small_orange.png?1527348198);
}
.wsite-button-highlight .wsite-button-inner {
  background-image: url(theme/button_small_orange.png?1527348198);
}

div.paragraph ul,
div.paragraph ol {
  padding-left: 3em !important;
  margin: 5px 0 !important;
}
div.paragraph li {
  padding-left: 5px !important;
  margin: 3px 0 0 !important;
}
div.paragraph ul,
div.paragraph ul li {
  list-style: disc outside !important;
}
div.paragraph ol,
div.paragraph ol li {
  list-style: decimal outside !important;
}

/* Flex */
.flex {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* Sizes for mobile */
@media only screen and (max-width: 800px) {
  html {
    font-size: 2vw;
  }

  #wrapper {
    width: 100%;
  }

  .flex {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 2vw;
  }
  
  #wrapper {
    width: 100%;
  }

  .flex {
    flex-wrap: wrap;
  }
}
