.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

#navigation {
  background-color: #e5e5e5;
  max-width: 960px;
  font-size: 12px;
  border-bottom: 1px solid #a9acaf;
  max-height: 50vh;
  overflow-y: auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  overflow: auto;
}

.navigation-list-item {
  flex-grow: 1;
}

.navigation-list-item:not(:last-child) {
  border-right: 1px solid #a9acaf;
}

.navigation-list-item:hover .navigation-submenu {
  max-height: 500px;
  transition: max-height 0.6s;
}

.navigation-list-item:last-child .navigation-submenu {
  right: 0px;
}

.root-navigation-link {
  position: relative;
  text-align: center;
  flex-grow: 1;
}

.navigation-link {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 16px 10px;
}

.navigation-link:hover {
  color: #af5211;
}

.navigation-submenu {
  position: absolute;
  background: #f4f4f4;
  min-width: 200px;
  max-width: 300px;
  z-index: 101;
  box-shadow: 0px 3px 6px -2px black;
  transition: max-height 0.1s;
  max-height: 0;
  overflow: hidden;
}

.navigation-submenu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-submenu-list-item:not(:last-child) {
  border-bottom: 1px solid #a9acaf;
}

.mobile-submenu-target {
  display: none;
  color: #333;
  font-weight: bold;
  padding: 16px 10px;
  cursor: pointer;
}

#mobile-buttons {
  display: none;
  flex-direction: row;
  justify-content: center;
}

.mobile-button {
  flex: 1;
  background: black;
  color: #d9dbde;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  text-wrap: nowrap;
  font-size: 16px;
}

.mobile-button:hover {
  background: gray;
}

/* Sizes for mobile */
@media only screen and (max-width: 800px) {
  #mobile-buttons {
    display: flex;
  }

  #navigation {
    display: none;
    position: absolute;
    width: 100%;
  }

  #navigation.mobile-menu-open {
    display: block;
  }

  .navigation-list {
    padding: 10px;
    flex-direction: column;
  }

  .navigation-submenu {
    display: none;
  }

  .root-navigation-link {
    display: none;
  }

  .mobile-submenu-target {
    display: flex;
    justify-content: space-between;
  }

  .mobile-submenu-target:hover {
    color: #af5211;
  }

  .mobile-caret::before {
    display: block;
    content: "V";
    transform: rotate(-90deg);
  }

  .mobile-submenu-open .mobile-caret::before {
    transform: rotate(0deg);
  }

  .mobile-submenu-open ~ .navigation-submenu {
    display: block;
    position: relative;
    background: #f4f4f4;
    margin: 0px 10px;
    max-width: 100%;
    box-shadow: none;
    max-height: 500px;
  }

  #navigation.mobile-menu-open li:last-child .navigation-submenu {
    right: unset;
  }
}
